In [1]:
# Connaitre le path du fichier
!pwd

/Users/mtl/Projets/itescia_esiee/esiee_2022_ia_tp_titanic

In [2]:
# Importation de la librairie Pandas
import pandas as pd

In [3]:
# Importation des données
df = pd.read_csv('datas/train.csv')

In [4]:
# Afficher le tableau de données
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
# Afficher les types de données du tableau
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
df["Fare"] = pd.to_numeric(df["Fare"])
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:
# Nettoyage des données
df1 = df.drop(['Name','Ticket','Cabin','PassengerId','Embarked'],axis = 1)
# df.drop(["Name","Sex","Ticket","Cabin","Embarked"], axis=1, inplace=True)

In [8]:
df1['Sex'] = df['Sex'].map({'male': 1, 'female': 0})
df1

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0           0       3    1  22.0      1      0   7.2500
1           1       1    0  38.0      1      0  71.2833
2           1       3    0  26.0      0      0   7.9250
3           1       1    0  35.0      1      0  53.1000
4           0       3    1  35.0      0      0   8.0500
..        ...     ...  ...   ...    ...    ...      ...
886         0       2    1  27.0      0      0  13.0000
887         1       1    0  19.0      0      0  30.0000
888         0       3    0   NaN      1      2  23.4500
889         1       1    1  26.0      0      0  30.0000
890         0       3    1  32.0      0      0   7.7500

[891 rows x 7 columns]

In [9]:
df2=df1.dropna()
df2

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0           0       3    1  22.0      1      0   7.2500
1           1       1    0  38.0      1      0  71.2833
2           1       3    0  26.0      0      0   7.9250
3           1       1    0  35.0      1      0  53.1000
4           0       3    1  35.0      0      0   8.0500
..        ...     ...  ...   ...    ...    ...      ...
885         0       3    0  39.0      0      5  29.1250
886         0       2    1  27.0      0      0  13.0000
887         1       1    0  19.0      0      0  30.0000
889         1       1    1  26.0      0      0  30.0000
890         0       3    1  32.0      0      0   7.7500

[714 rows x 7 columns]

In [10]:
df2.dtypes

Survived      int64
Pclass        int64
Sex           int64
Age         float64
SibSp         int64
Parch         int64
Fare        float64
dtype: object

In [11]:
# Génération du model
from sklearn.model_selection import train_test_split

In [12]:
y = df2.Survived
x = df2.drop(['Survived'], axis = 1)

x_train,x_test, y_train, y_test = train_test_split(x,y,test_size = .2, random_state = 42)

In [13]:
print (x_train.shape,x_test.shape)
print (df2.shape)

(571, 6) (143, 6)
(714, 7)

In [14]:
print (y_train.sample(10))

834    0
689    1
695    0
597    0
30     0
860    0
645    1
799    0
745    0
217    0
Name: Survived, dtype: int64

In [15]:
# Création d'un premier modèle
from sklearn.ensemble import RandomForestClassifier

In [16]:
# n_estimators = nombre d'arbres
# random_state = le hazard à 23
# max_features = le nombre de colonne sélectionner par itération au hazard

rf = RandomForestClassifier(n_estimators = 100, random_state = 23, max_features = 2)

In [17]:
rf.fit(X = x_train, y = y_train)

RandomForestClassifier(max_features=2, random_state=23)